@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #191d0f;
  --bg-color: #f7f9fc;
  --accent-color: #4bb8f2;
}

[data-theme="dark"] {
  --text-color: #f7f9fc;
  --bg-color: #1d232a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  scroll-behavior: smooth;
}

@layer components {
  .black {
    color: var(--text-color);
  }

  .green {
    color: var(--accent-color);
  }

  .bgGreen {
    background-color: rgba(96, 243, 24, 0.1);
  }

  .white {
    color: var(--bg-color);
  }

  .bgWhite {
    background-color: var(--bg-color);
  }

  .blue {
    color: var(--accent-color);
  }

  .bgBlue {
    background-color: var(--accent-color);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Custom Tailwind animations */
@layer utilities {
  .animate-gradient {
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
  }
  .animate-typing {
    animation: typing 2s steps(20, end), blink 0.5s step-end infinite alternate;
    display: inline-block;
    white-space: nowrap;
  }
  @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #60f318;
    }
  }
}
